body {
  margin: 0 auto;
  padding: 0;
  text-align: center; }

header {
  background-color: #00599c;
  color: #fff;
  height: 10vh;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  header img {
    height: 10vh; }
  header .err {
    background-color: red;
    color: purple; }

h2 {
  background-color: #00599c;
  color: #fff;
  padding: 6vw 0 2vw 0;
  margin: 0;
  font-size: 1.25em; }

.findStore {
  margin-bottom: 2vh; }

.fiveLetterForm {
  margin-bottom: 2vh; }

form {
  font-size: 1.25em; }
  form legend {
    margin: 0 auto; }
  form input {
    border: 0;
    border-bottom: 1px solid #333; }
  form .submitButton {
    background-color: #00599c;
    color: #fff;
    padding: 1vh;
    border-radius: 5px;
    cursor: pointer;
    border: 0; }
  form input[type=submit], form input[type=text] {
    margin-top: 2vh; }
  form .fiveLetterInput {
    margin-bottom: 2vh; }
