//Defaults 

body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 1.25em;
}

header {
  background-color: #00599c;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 3vh;
  
  img {
    height: 10vh;
  }
}

h2 {
  background-color: #00599c;
  color: #fff;
  padding: 2vh 0 2vh 0;
  margin: 0 auto;
}

form {
  
  legend {
    margin: 0 auto;
  }

  input {
    border: 0;
    border-bottom: 1px solid #333;
    margin-top: 2vh;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

//Classes

.err {
    background-color: red;
    color: purple;
    //display: none;
    visibility: hidden;
  }

.fiveLetterInput {
  margin-bottom: 2vh;
  width: 3em;
}

#userLocation, #dest {
  width: 80vw;
}

.submitButton {
  background-color: #00599c;
  color: #fff;
  padding: 1vh;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  margin-bottom: 2vh;
}

.findStore {
  margin-bottom: 2vh;
}

.details {
  text-align: left;
  margin-left: 2vw;
}

.big {
  font-size: 1.25em;
}