a {
  color: inherit;
  text-decoration: none;
}

header {
  height: 87px;
  .logo {
    width: 100vw;
    padding-bottom: 0;
  margin-bottom: 0;
  }
}

h2 {
  color: #fff;
  background-color: #00599c;
  padding: 1vh 0;
  text-align: center;
}

button, .submitButton {
   background-color: #00599c;
  color: #fff;
  padding: 1vh;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  margin-bottom: 2vh;
}

.card {
  width: 80vw;
  margin: 0 auto;
  //border: 1px solid #444;
  box-shadow: 0px 2px 5px #000;
}

.findStore {
  .topHeading {
    padding-top: 5vh;
    margin-top: 0;
  }

  .searchTypeButtons {
    text-align: center;
  }

  legend {
    width: 100vw;
    background-color: #aaa;
    color: #000;
    text-align: left;
    padding-left: 2vw;
    padding: 1vh 0 0 2vw;
  }


  .five-letter  {
    //display: none;
    text-align: center;
    input {
      margin-bottom: 1vh;
    }
  }

  .state {
    display: none;
  }

  .city-state {
    display: none;
  }

}